*{
    margin: 0;
    padding: 0;
  
}

header{
    width: 1983px;
    height: 110px;
    border: 4px solid #E55039;
    padding-right: 20px;
    padding-bottom: 4px;
    padding-left: 20px;
    background-color: #FF6B35;
}
.adress{
    width: 200px;
    height:60px;
    margin-top: 20px;
    margin-left: 110px;
    gap: 5px;
}

h1,span{
    font-family: Liberation Sans;
    font-weight: 700;
  font-style: bold;
  font-size: 20px;
  color: white;
}

.buttonscontainer{
    display: flex;
    width: 527px;
    height: 50px;
    gap: 25px;
   
    margin: auto;
    margin-top: -50px;
}
.recipes{
width: 99px;
height: 37px;
border-radius: 20px;
border: 2px solid #FFFFFF4D;
padding: 10px, 20px, 10px, 20px;
font-size: 15.2px;
color: white;
background-color: #FFFFFF26;
padding-left: 10px;
padding-right: 10px;
}

.resturants{

    width: 140px;
    height: 37px;
    border-radius: 20px;
    border: 2px solid #FFFFFF4D;
padding: 10px, 20px, 10px, 20px;
font-size: 15.2px;
color: white;
background-color: #FFFFFF26;
padding-left: 10px;
padding-right: 10px;

}
.reviews{
    width: 101px;
    height: 37px;
      border-radius: 20px;
    border: 2px solid #FFFFFF4D;
padding: 10px, 20px, 10px, 20px;
font-size: 15.2px;
color: white;
background-color: #FFFFFF26;
padding-left: 10px;
padding-right: 10px;
}
.community{
    width: 124px;
    height: 37px;
       border-radius: 20px;
    border: 2px solid #FFFFFF4D;
padding: 10px, 20px, 10px, 20px;
font-size: 15.2px;
text-align: center;
color: white;
background-color: #FFFFFF26;
padding-left: 10px;
padding-right: 10px;

}

.joinus{
  
    width: 106px;
    height: 43px;
    border-radius: 25px;
    padding: 12px,24px,13px,24px;
    border: 2px solid #26DE81;
    background-color:#20BF6B ;
    margin-left: 550px;
  
}
section {
    display: flex;
    width: 2030px;
    height: 586px;
 background-image: url("./download7.jpg");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 min-height: 585px;
}
.explore{
    display: flex;
    width: 900px;
    height: 306px;
    max-width: 600px;
    border-radius: 20px;
    border: 3px solid #E55039;
    padding:49px 48px 48px 48px ;
    gap: 19px;
    background:linear-gradient(to right,#FF6B35F2,#E55039E5);
    margin-top: 80px;
    margin-left: 170px;
    
}

.kalam h2{
margin-right: 20px;
  margin-bottom: 20px;
  font-size: Liberation Sans;
  font-weight: 700;
font-style: initial;
font-size: 59.5px;
color: white;
}

.btns{
    display: flex ;
    width: 504.80999755859375px;
    height: 61px;
    padding-top: 14px;
    padding-right:126.81px ;
    gap: 18px;
    margin-top: 25px;
}

.explorerecipes{
    width: 177px;
    height: 47px;
    border-radius: 8px;
    border: 2px solid #20BF6B;
    padding: 14px 26px 15px 26px;
    background: linear-gradient(to right,#26DE81 ,#20BF6B);
    font-weight: 700;
    font-size: 12px;
    color: white;
}
.findrest{
     width: 183px;
    height: 47px;
    border-radius: 8px;
    border: 2px solid white;
    padding: 14px 26px 15px 26px;
    color: white;
    font-size: 12px;
    font-weight: 700;
  background:linear-gradient(to right,#FF6B35F2,#E55039E5)

 
}
.what{
    width: 100%;
    height: 1800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 63px 140px;
    gap: 40px;
    background: linear-gradient(to left, #FFCFEF4D, #FF9A9E33);
}
.enowan{
    display: flex;
    text-align: center;
    margin-left: 100px;
    gap: 15px;
   
}

.enowan h2{
    font-size: 40px;
    color:#E55039 ;
    font-weight: 700;
 
}

.enowan span{
    font-weight: 400;
    font-size: 17.6px;
    color: #3E2723CC;
margin-top: 40px;
    margin-left: -320px;
}

.guide{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -60px;
}
.recipecollection{
    width:350px ;
    height: 350px;
    max-width:1296px ;
    border-radius: 16px;
    border: 3px solid #FF6B35;
    padding: 3px;
    background-color: white;
    margin-top: 130px;
    margin-left: 1px;
    
}
.recipecollection img{
   
    width: 355px;
    height: 200px;
    border-bottom: 3px;
    border: 3px solid #FF6B35;
      border-radius: 16px;
      margin-left: -5px;
      margin-top: -5px;
}

.recipecollection h3{
   font-weight: 700;
  font-size: 22.4px;
  color: #E55039;
  margin-left: 20px;
  margin-top: 10px;
}
.recipecollection p {
    font-weight: 400;
    font-size: 16px;
    color: #555555;
    margin-left: 20px;
     margin-top: 10px;
}
.restaurantguide{
     width:350px ;
    height: 350px;
    max-width:1296px ;
    border-radius: 16px;
    border: 3px solid #FF6B35;
    padding: 3px;
    background-color: white;
    margin-top: 130px;

}

.restaurantguide img{
     width: 355px;
    height: 200px;
    border-bottom: 3px;
    border: 3px solid #FF6B35;
      border-radius: 16px;
      margin-left: -5px;
      margin-top: -5px;
      
}

.restaurantguide h3{
     font-weight: 700;
  font-size: 22.4px;
  color: #E55039;
  margin-left: 20px;
  margin-top: 10px;
}

.restaurantguide p{
  font-weight: 400;
    font-size: 16px;
    color: #555555;
    margin-left: 20px;
     margin-top: 10px;
}
.cookingless{
      width:350px ;
    height: 350px;
    max-width:1296px ;
    border-radius: 16px;
    border: 3px solid #FF6B35;
    padding: 3px;
    background-color: white;
    margin-top: 130px;


}

.cookingless img{
     width: 355px;
    height: 200px;
    border-bottom: 3px;
    border: 3px solid #FF6B35;
      border-radius: 16px;
      margin-left: -5px;
      margin-top: -5px;
}
.cookingless h3{
     font-weight: 700;
  font-size: 22.4px;
  color: #E55039;
  margin-left: 20px;
  margin-top: 10px;
}
.cookingless p{
     font-weight: 400;
    font-size: 16px;
    color: #555555;
    margin-left: 20px;
     margin-top: 10px;
}

.trend{
    width: 1313.5999755859375px;
    height: 49px;
    padding-bottom: 1px;
   text-align: center;
}

.trend h2{
    font-weight: 700;
    font-size: 41.6px;
    color: #E55039;
}
.trends{
    display: flex;
    width: 1313.5999755859375px;
    height: 369px;
    gap: 28.8px;
}

.firsttrend{
    width: 300px;
    height: 369px;
    max-width: 1296px;
    border-radius: 12px;
    border: 2px solid #26DE81;
    padding: 2px;
    background-color: white;
    margin-left: 110px;
}
.firsttrend img{
    width: 304px;
    height: 180px;
    border: 2px solid #26DE81;
    border-radius: 16px;
     margin-left: -5px;
      margin-top: -5px;
     
     
}

.italia{
    width: 62px;
    height: 23px;
   border-radius: 15px;
   padding: 4px 12px 4px 12px;
   background: linear-gradient(to left, #FF6B35, #E55039);
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 117.5px;
   color: white;
}

.firsttrend h2{
    font-weight: 700;
    font-size: 19.2px;
    color: #3E2723;
    margin-left: 30px;
}
.firsttrend p{
    font-weight: 400;
    font-size: 14.4px;
    color: #666666;
    margin-left: 10px;
    margin-top: 7px;
}

.communities{
    display: flex;
    width:1313.5999755859375px ;
    height: 800px;
    border-radius: 20px;
    border: 3px solid #20BF6B;
    padding: 53px;
    gap: 57.59px;
    background-color: white;
    margin-top: 40px;
    flex-wrap: wrap;
    flex-direction: column;
}

.communities h2{
    font-weight: 700;
    font-size: 38.4px;
    color: #E55039;
   margin-left: 450px;
}

.communities p{
    font-weight: 400;
    font-size: 17.6px;
    color: #555555;
    margin-left: 400px;
    margin-top: -30px;
}

.boxess{
    display: flex;
    width:1100px ;
    height: 138px;
    min-height: 138px;
    padding-top: 10px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.boxone{
    width: 158px;
    height: 100px;
    border-radius: 12px;
    border: 2px solid #26DE81;
    padding: 22px 27px 22px 27px;
    gap: 5px;
    background-color: #26DE811A;
   
   
}

.boxone h3{
    font-weight: 700;
    font-size: 28.8px;
    color: #20BF6B;
    margin-left: 50px;
}

.boxone span{
    font-weight: 400;
    font-size: 14.4px;
    color: #666666;
    margin-left: 30px;
    margin-top: 20px;
}
.specal{
    width: 700px;
    height: 300px;
    min-width: 300px;
    border-radius: 16px;
    border: 3px solid #FF6B35;
    margin-left: 250px;
}

footer{
    display: flex;
    width: 1907px;
    height: 306px;
    border-top:2px solid #E55039  ;
    padding: 64px 63.2px 30px 63.2px;
    gap: 35px;
   background-color: #3E2723F2;
}

.hup{
   
    width: 328.3999938964844px;
    height: 79px;
    min-width: 200px;
    gap: 18px;
}
.hup h4{
    font-weight: 700;
    font-size: 22px;
    color: #FF6B35;
    margin-top: 5px;
    margin-bottom: 10px;
}
.hup p{
    font-weight: 400;
    font-size: 15.2px;
    color: white;
}
.tasafh{
    display: flex;
    flex-direction: column;
    width: 328.3999938964844px;
    height:79px ;
    min-width: 200px;
    
}
.tasafh h4{
    font-weight: 700;
    font-size: 22px;
    color: #FF6B35;
    margin-bottom: 10px;
}
.tasafh p{
    font-weight: 400;
    font-size: 15.2px;
    color: white;
    margin-bottom: 5px;
}

.coom{
     display: flex;
    flex-direction: column;
    width: 328.3999938964844px;
    height:79px ;
    min-width: 200px;
}
.coom h4{
      font-weight: 700;
    font-size: 22px;
    color: #FF6B35;
    margin-bottom: 10px;
}
.coom p{
    font-weight: 400;
    font-size: 15.2px;
    color: white;
    margin-bottom: 5px;
}

.kalamna{
      display: flex;
    flex-direction: column;
    width: 328.3999938964844px;
    height:79px ;
    min-width: 200px;
}
.kalamna h4{
     font-weight: 700;
    font-size: 22px;
    color: #FF6B35;
    margin-bottom: 10px;
}
.kalamna p{
     font-weight: 400;
    font-size: 15.2px;
    color: white;
    margin-bottom: 5px;
}

.end{
    display: flex;
    width: 1313.5999755859375px;
    height: 44px;
    border-top: 2px solid #FF6B3566;
    padding-top: 27px;
    flex-direction: row;
    margin-left: -1100px;
   margin-top: 40px;
}

.end p{
    font-weight: 400;
    font-size: 15.2px;
    color: white;
   margin: auto;
   margin-top: 10px;
}

